@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Anton&family=Satisfy&display=swap');

/* Color variables */
:root {
  --brand-color: rgb(4, 122, 87);
  --background-color: rgb(194, 215, 229);
  --secondary-background-color: #eee;
  --grid-card-background-color: white;
  --navbar-background-color: white;
  --grid-card-text-color: #555;
  --money-color: rgb(24, 189, 24);
  --brand-font: 'Satisfy';
  --red-color: rgb(207, 22, 22);
}

html {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: var(--background-color);
}

p {
  margin: 0;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--navbar-background-color);
  top: 0;
  z-index: 104;
  padding: 6px 4px;
  margin: 0;
  border-bottom: 1px solid var(--background-color);
}

.navbar-container {
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar div {
  padding: 0;
}

.navbar i:first-of-type {
  color: var(--brand-color);
  font-size: 2rem;
}

.navbar i span {
  position: absolute;
  top: 6px;
  font-family: var(--brand-font);
}

.navbar #add-task,
.navbar #undo,
.navbar #user-icon {
  margin: auto;
  cursor: pointer;
  padding: 0 5px;
}

.navbar #add-task {
  color: var(--red-color);
  font-size: 2rem;
}

.navbar #undo {
  color: #555;
  font-size: 1.5rem;
}

.navbar #user-icon {
  color: #777;
  font-size: 2rem;
}

/* Container */
.container {
  position: relative;
  width: 100%;
  max-width: 810px;
  margin-top: 46px;
  flex-direction: row;
  position: relative;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 46px;
  }
}

/* Header/Sidebar/Task List */
.task-list-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 180px;
  height: 100%;
  z-index: 100;
  background-color: var(--secondary-background-color);
}

.task-filter {
  display: flex;
  background-color: var(--secondary-background-color);
  padding-bottom: 8px;
  margin: 0px 5px;
}

.select-menu {
  padding: 5px 5px;
  font-size: 1.1rem;
  border: 0;
  font-weight: bold;
  color: var(--brand-color);
  background-color: var(--secondary-background-color);
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
}

.select-menu:focus {
  outline: none;
}

.select-menu:hover {
  cursor: pointer;
}

.fas.fa-sort-down {
  color: var(--brand-color);
  padding-top: 8px;
  padding-right: 2px;
}

#search-bar {
  border: none;
  margin-top: 5px;
}

#search-input {
  padding-left: 23px;
  color: var(--brand-color);
  font-weight: bold;
}

.fas.fa-search {
  position: absolute;
  top: 18px;
  left: 10px;
  color: var(--brand-color);
}

@media screen and (max-width: 800px) {
  .task-list-header {
    width: 100%;
    flex-direction: row;
    justify-content: inline;
    height: 38.5px;
  }

  .task-filter {
    padding: 0;
    border: none;
    min-width: 100px;
  }

  .select-menu {
    font-size: 0.9rem;
    padding: 0;
  }

  #search-bar {
    margin: 0;
    min-width: 180px;
  }

  #search-input {
    max-width: 100%;
    padding-left: 28px;
  }

  #search-input::placeholder {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .fas.fa-search {
    position: absolute;
    top: 13px;
    left: 10px;
    color: var(--brand-color);
  }
}

/* Task List */
.task-list {
  position: absolute;
  display: inline-block;
  width: 625px;
  max-width: 100%;
  left: 180px;
  margin-bottom: 35px;
  padding-bottom: 35px;
}

@media only screen and (max-width: 800px) {
  .task-list {
    top: 38px;
    left: 0;
    width: 100%;
    max-width: 100%;
  }
}

/* Todo Card */
.grid-card {
  padding: 1rem;
  border-top: 1px solid var(--background-color);
  background-color: var(--grid-card-background-color);
  display: grid;
  color: var(--grid-card-text-color);
  grid-template-columns: 30px;
  grid-template-areas:
    'completed header header header header header edit'
    'date date duration duration duration cost cost'
    'main main main main main main main'
    'main main main main main main main';
}

.item-header {
  grid-area: header;
  font-weight: bold;
  font-size: 1.2rem;
}

.task-project {
  color: #333;
  font-size: 0.6rem;
  text-align: right;
}

.item-main {
  grid-area: main;
  font-size: 0.9rem;
}

.item-edit {
  grid-area: edit;
  text-align: right;
  padding: 0 5px;
}

.item-edit i:hover {
  opacity: 0.6;
  transform: scale(1.2);
  cursor: pointer;
}

.item-duration {
  grid-area: duration;
  text-align: left;
}

.item-date {
  grid-area: date;
  text-align: left;
}

.item-date.today {
  color: var(--brand-color);
}

.item-date.overdue {
  color: var(--red-color);
}

.item-cost {
  grid-area: cost;
  text-align: right;
  color: var(--money-color);
  font-weight: bold;
  padding: 0 3px;
}

.item-completed {
  grid-area: completed;
  text-align: left;
}

.item-completed input[type='checkbox'] {
  opacity: 0;
}

.item-completed label {
  position: relative;
  cursor: pointer;
}

.item-completed label::before,
.item-completed label::after {
  position: absolute;
}

.item-completed label::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid;
  top: -6px;
  left: -15px;
  border-radius: 50%;
}

.item-completed label::after {
  content: '';
  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: -9px;
  top: 0px;
}

.item-completed input[type='checkbox'] + label::after {
  content: none;
}

.item-completed input[type='checkbox']:not(:checked):hover + label::after {
  content: '';
  color: #aaa;
}

.item-completed input[type='checkbox']:checked + label::after {
  content: '';
}

@media screen and (max-width: 600px) {
  .grid-card {
    padding: 5px 5px 5px 10px;
    margin: 0;
  }

  .item-header,
  .item-completed {
    font-size: 1rem;
    padding: 0 0 5px 0;
    font-weight: 700;
  }

  .item-main,
  .item-date,
  .item-duration,
  .item-cost {
    font-size: 0.8em;
  }

  .item-completed label::before {
    height: 20px;
    width: 20px;
    border: 2.5px solid;
    top: -8px;
    left: -15px;
    border-radius: 50%;
  }
  .item-completed label::after {
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: -9px;
    top: -2px;
  }

  .item-completed input[type='checkbox']:not(:checked) + label::after {
    content: '';
    color: #aaa;
    opacity: 0.7;
  }
}

/* Modal */

.modal-container {
  background-color: rgba(20, 20, 20, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 105;
}

.modal-contents {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 400px;
}

.user-modal-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 46px;
  padding: 0;
}

.user-modal-contents {
  position: absolute;
  transform: none;
  width: 200px;
  right: 0px;
}

.modal-header {
  background: white;
  color: var(--brand-color);
  padding: 15px;
  border: none;
  border-radius: 0;
}

.modal-header h5 {
  margin: 0;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0 55px 0 0;
}

.modal-form {
  background-color: var(--background-color);
  padding: 10px;
}

.modal-form div {
  margin: 0px 0px 12px 0;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
}

.modal-form label {
  font-weight: bold;
}

.modal-form .form-input:focus {
  outline: none;
}

.modal-header .trash-icon {
  color: #999;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 43px;
  font-size: 1.4rem;
}

.fa.fa-times {
  color: #333;
}

.modal-row {
  display: flex;
  justify-content: space-between;
}

.modal-row div:first-of-type {
  margin: 0 5px 0 0;
}

.modal-row div {
  width: 100%;
}

.react-date-picker {
  margin: 0;
}

.react-date-picker__wrapper {
  background-color: white;
  border: none;
  padding: 6.5px 0;
}

.react-calendar {
  font-family: 'Lato';
  width: 300px;
  min-width: 300px;
}

.button {
  padding: 8px 15px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  outline: none;
  opacity: 0.7;
}

.button:focus {
  outline: none;
}

.btn-save,
.btn-delete,
.btn-account,
.btn-logout {
  background-color: steelblue;
  color: white;
  width: 100%;
  margin-top: 10px;
}

.btn-logout {
  background-color: var(--background-color);
  margin-top: 0px;
}

.btn-delete,
.btn-logout {
  background-color: var(--red-color);
}

.btn-close-modal {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 12px;
}

.btn-close-modal:focus {
  outline: none;
}

.navbar-buttons li {
  list-style: none;
}

.vital {
  color: var(--red-color);
}

.important {
  color: orange;
}

.urgent {
  color: rgb(41, 154, 247);
}

#task-name-form-warning {
  display: none;
}

@media only screen and (max-width: 850px) {
  .modal-contents {
    top: 35%;
    left: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .modal-contents#task-modal {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    max-width: 100%;
    max-height: 100%;
  }

  .user-modal-contents {
    position: absolute;
    transform: none;
    width: 100%;
    right: 0px;
  }

  .modal-form div {
    margin: 0px 0px 2px 0;
  }

  .modal-form label {
    margin: 0;
  }

  .modal-header h5 {
    margin: 0;
    font-weight: bold;
    font-size: 1.1em;
  }
}

/* Account login/registration */
.account-form,
.loading {
  padding-top: 50px;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
}

.form-control {
  border-radius: 0;
  -webkit-appearance: none;
}

.form-control:focus {
  outline: none;
  -webkit-appearance: none;
}

.nav-link {
  font-size: 1rem;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 3px 5px;
}

.form-warning {
  font-size: 0.8rem;
  color: var(--red-color);
  line-height: 0.8rem;
}

.invisible {
  visibility: hidden;
}

/* Footer */
.footer {
  width: 100%;
  text-align: center;
}

/* Statbar */
.statbar {
  position: fixed;
  width: 100%;
  background-color: #eee;
  color: #333;
  bottom: 0;
  z-index: 100;
  padding: 6px 4px;
  font-weight: bold;
  border-top: 1px solid var(--background-color);
}

.statbar-container {
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.statbar-container div {
  display: flex;
  margin: auto;
}

.statbar-container div i {
  padding: 4px 0;
}

.statbar-container div:last-of-type {
  color: var(--money-color);
}
