@import url('https://fonts.googleapis.com/css2?family=Lato&family=Anton&display=swap');

:root {
  --modal-duration: 0.5s;
  --primary-color: rgb(4, 122, 87);
  --secondary-color: red;
  --background-color: rgb(194, 215, 229);
  --money-color: rgb(48, 122, 48);
  --money-background: rgba(90, 199, 90, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  transition: transform 0.3s ease;
  background-color: var(--background-color);
}

p {
  margin: 0;
}

/* Navbar */
.navbar {
  position: fixed;
  padding: 0.7rem 2rem;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 100%;
  align-self: center;
  margin: auto;
}

/* Brand */
.navbar i span {
  font-family: 'Anton';
}

.navbar i:first-of-type {
  /* display: flex; */
  float: left;
  color: var(--primary-color);
  font-size: 2rem;
}

/* Sorting & Filter menus */

.navbar div {
  display: flex;
  margin: 0 auto;
}

.navbar label {
  display: relative;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 5px 0 0;
}

.select-menu {
  display: flex;
  font-size: 1rem;
  border: 0;
  font-weight: bold;
  color: var(--primary-color);
  width: 100%;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select-menu:focus {
  outline: none;
}

.select-menu:hover {
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
}

/* Plus/Undo/Settings icons */
.navbar #add-task, .navbar #undo, .navbar #settings {
  margin: auto;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 2rem;
  padding: 0 10px;
}

.navbar #undo {
  color: #555;
  font-size: 1.5rem;
}

.navbar #settings {
  color: #999;
}

/* App */

.App-header {
  margin-top: 44px;
}

/* Todos */

.item-header {
  grid-area: header;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
  text-align: left;
}

.item-header p:hover {
  cursor: pointer;
  opacity: 0.8;
}

.item-main {
  grid-area: main;
  max-width: 80%;
}

.item-duration {
  grid-area: duration;
  text-align: right;
}

.item-date {
  grid-area: date;
  text-align: right;
}

.item-date.today {
  color: var(--primary-color);
}

.item-date.overdue {
  color: red;
}

.item-cost {
  display: inline-block;
  grid-area: cost;
}

.item-cost p {
  color: var(--money-color);
  font-weight: bold;
  padding-top: 6px;
  margin: 3px 0;
  max-width: 70px;
  height: 30px;
  border: 0.25px solid var(--money-color);
  background-color: var(--money-background);
  line-height: 0.75rem;
  text-align: center;
}

.item-delete {
  grid-area: delete;
  text-align: right;
}

.item-delete i {
  font-size: 1.2rem;
  padding: 0;
  color: grey;
  vertical-align: sub;
}

.item-delete i:hover {
  cursor: pointer;
  opacity: 0.8;
}

.item-completed {
  grid-area: completed;
  text-align: left;
  padding: 0 5px;
}

.item-completed input[type='checkbox'] {
  opacity: 0;
}

.item-completed label {
  position: relative;
  cursor: pointer;
}

.item-completed label::before,
.item-completed label::after {
  position: absolute;
}

.item-completed label::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2.5px solid;
  top: -6px;
  left: -15px;
  border-radius: 50%;
}

.item-completed label::after {
  content: '';
  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: -9px;
  top: 0px;
}

.item-completed input[type='checkbox'] + label::after {
  content: none;
}

.item-completed input[type='checkbox']:checked + label::after {
  content: '';
}

.item-completed input[type='checkbox']:hover + label::after {
  content: '';
  border-color: #999;
}

.item-completed input[type='checkbox']:hover:checked + label::after {
  content: '';
  border-color: inherit;
}

.card {
  min-height: 120px;
  padding: 1rem;
  border: #ccc 1px solid;
  margin: 0.3rem 0;

  display: grid;
  grid-template-columns: 30px;
  grid-template-areas:
    'completed header header header header header date'
    ' main main main . . . duration'
    ' main main main . . . .'
    'cost cost cost . . . delete';
}

.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  background-color: var(--background-color);
}

.text-center {
  text-align: center;
}

.input {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-size: 1rem;
  line-height: 1.6;
}

.button {
  padding: 8px 15px;
  /* border-radius: 5px; */
  border: none;
  /* margin: 5px; */
  background-color: var(--brand-color);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-cancel {
  background-color: red;
}

.btn-save,
.btn-delete {
  background-color: var(--primary-color);
  width: 100%;
  margin-top: 10px;
}

.btn-delete {
  background-color: var(--secondary-color);
}

.vital {
  color: red;
}

.important {
  color: orange;
}

.urgent {
  color: blue;
}

.todo-list {
  padding: 1rem;
}

.todo-list .add-task-icon h3 {
  font-size: 1.5rem;
  vertical-align: center;
}

#add-task-purchase-div {
  font-size: 1rem;
  padding: 4px;
}

#add-task-purchase-div input {
  transform: scale(1.5);
}

.modal-container {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.modal-container.show-modal {
  display: block;
}

.modal-contents {
  background-color: white;
  /* border-radius: 5px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  padding: ;
}

.modal-header {
  background: var(--secondary-color);
  color: white;
  padding: 15px;
  border: none;
  border-radius: 0;
}

.modal-header.delete {
  background: var(--primary-color);
}

.modal-header h5 {
  margin: 0;
  font-weight: bold;
  font-size: 1.5em;
}

.modal-form {
  background-color: var(--background-color);
  padding: 20px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
  /* font-weight: bold; */
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
  border: none;
}

.modal-form .form-input:focus {
  outline: none;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
}

.close-btn:focus {
  outline: none;
}

.footer {
  width: 100%;
  text-align: center;
}
