:root {
  --primary-color: rgb(16, 69, 201);
  --brand-color: rgba(3, 164, 67, 0.742);
  --tertiary-color: #ddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--tertiary-color);
  color: #333;
}

/* Navbar */
.navbar {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  top: 0;
  font-size: 2rem;
}

.navbar i span {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar i:first-of-type {
  display: flex;
  float: left;
}

.navbar i:last-of-type {
  display: flex;
  float: right;
  color: crimson;
}

#add-task:hover {
  cursor: pointer;
}

.App-header {
  margin-top: 95px;
}

.todo-form-modal {
  top: 40px;
  bottom: 40px;
  max-width: 600px;
  background-color: #ddd;
  
}

.item-header {
  grid-area: header;
  font-weight: bold;
  font-size: 1.2rem;
}

.item-header p:hover {
  cursor: pointer;
  opacity: 0.8;
}

.item-header span {
  font-size: 1rem;
}

.item-main {
  grid-area: main;
}

.item-duration {
  grid-area: duration;
  text-align: right;
}

.item-date {
  grid-area: date;
  text-align: right;
}

.item-cost {
  grid-area: cost;
}

.item-cost p {
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: var(--brand-color);
  border-radius: 15px;
  margin: 3px;
}

.item-delete {
  grid-area: delete;
  text-align: right;
}

.item-delete i {
  font-size: 1.2rem;
  padding: 0 4px;
}

.item-delete i:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

.card {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header header header header header header date'
    'main main main . . . duration'
    'main main main . . . cost'
    'main main main . . . delete';
}

.container {
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  background-color: white;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.todo-id {
  vertical-align: super;
  font-size: 22px;
  color: var(--brand-color);
}

.brand {
  color: var(--brand-color);
}

.input {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-size: 1rem;
  line-height: 1.6;
}

.button {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin: 5px;
  background-color: var(--brand-color);
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.btn-cancel {
  background-color: red;
}

.btn-save {
  background-color: steelblue;
}

.vital {
  color: red;
}

.important {
  color: orange;
}

.urgent {
  color: blue;
}

.todo-list {
  /* text-align: center; */
  padding: 1rem;
}



.todo-list .add-task-icon h3 {
  font-size: 1.5rem;
  vertical-align: center;
}

#add-task-purchase-div {
  font-size: 1rem;
  padding: 4px;
}

#add-task-purchase-div input {
  transform: scale(1.5);
}
